<%= form_for(@full_time_position) do |f| %>
  <% if @full_time_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@full_time_position.errors.count, "error") %> prohibited this full_time_position from being saved:</h2>

      <ul>
      <% @full_time_position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
