<div class="jumbotron tron">
  <h1>Full Time Positions</h1>
  <div class="row">
  <% if admin_signed_in? %>
    <div class="col-md-8">
  <% else %>
    <div class="col-md-12">
  <% end %>
      <table class="table">
        <thead>
          <tr style="color: #FFFFFF;">
            <th>Position</th>
            <th>Company</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @full_time_positions.each do |full_time_position| %>
            <tr>
              <td><%= full_time_position.position %></td>
              <td><%= full_time_position.company %></td>
              <td><%= link_to full_time_position.link %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% if admin_signed_in? %>
      <div class="col-md-4">
        <table class="table">
          <thead>
            <tr style="color: #FFFFFF;">
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @full_time_positions.each do |full_time_position| %>
              <tr>
                <td class="btn-group right"><%= link_to 'Show', full_time_position, :class => 'btn btn-info glyphicon glyphicon-search' %>
                  <%= link_to 'Edit', edit_full_time_position_path(full_time_position), :class => 'btn btn-warning glyphicon glyphicon-pencil' %>
                  <%= link_to 'Destroy', full_time_position, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger glyphicon glyphicon-remove" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <br>
  <% if admin_signed_in? %>
    <%= link_to 'New Full Time position', new_full_time_position_path, :class=>"btn btn-success glyphicon glyphicon-plus" %>
  <% end %>
</div>