<p id="notice"><%= notice %></p>

<h1>Listing Internship Positions</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internship_positions.each do |internship_position| %>
      <tr>
        <td><%= internship_position.position %></td>
        <td><%= internship_position.company %></td>
        <td><%= internship_position.link %></td>
        <td><%= link_to 'Show', internship_position %></td>
        <td><%= link_to 'Edit', edit_internship_position_path(internship_position) %></td>
        <td><%= link_to 'Destroy', internship_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internship position', new_internship_position_path %>
