<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @internship_position.position %>
</p>

<p>
  <strong>Company:</strong>
  <%= @internship_position.company %>
</p>

<p>
  <strong>Link:</strong>
  <%= @internship_position.link %>
</p>

<%= link_to 'Edit', edit_internship_position_path(@internship_position) %> |
<%= link_to 'Back', internship_positions_path %>
