<div class="row" id="index">
  <h1 class= "tron-font">Galleries</h1>
  <%= link_to 'New Gallery', new_gallery_path, :class => 'btn btn-success glyphicon glyphicon-plus' %>
  <ul class="list-inline" style="list-style-type: none;">
    <% @galleries.each do |gallery| %>
        <li class="tron-thumbnail col-md-4" id="gallery_<%= gallery.id %>">
          <div class="thumbnail tron-thumbnail">
            <% if gallery.pictures.first %>
            <%= link_to image_tag(gallery.pictures.first.image.url), gallery_path(gallery) %>
            <% else %>
            <div class="tron-font">
              N/A
            </div>
            <% end %>
            <div class="caption tron-font">
              <p style="text-align: center;">
                <%= gallery.name.truncate(14) %>
                <%= link_to "", gallery_path(gallery), :class => 'glyphicon glyphicon-search' %>
                <%= link_to "", edit_gallery_path(gallery), :class => 'glyphicon glyphicon-pencil' %>
                <%= link_to "", gallery,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete, :class => 'glyphicon glyphicon-remove'
                %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>
</div>

<ul class="list-inline">
</ul>