<div class="row tron-font">
  <h1>Gallery</h1>

  <input type="hidden" id="galleryID" value="<%= @gallery.id %>">

  <p class="tron-font">
    <b>Name: </b>
    <%= @gallery.name %>
  </p>

  <p class="tron-font">
    <b>Description: </b>
    <%= @gallery.description %>
  </p>

<h2 class="tron-font">Pictures</h2>
</div>

<!-- Display Photos in Gallery -->
<div class="row tron-font">
  <ul class="list-inline">
  <% unless @pictures.empty? %>
    <% @pictures.each do |pic| %>
      <li class="span3 tron-thumbnail col-md-3" id="picture_<%= pic.id %>">
        <div class="thumbnail">
          <%= image_tag pic.image.url %>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<!-- Admin only Controls -->
<div class="row">
  <div class="col-md-12 form-actions tron-font">
    <%= link_to 'Back', galleries_path, :class => 'btn btn-primary'  %>
    <%= link_to 'Edit gallery', edit_gallery_path(@gallery), :class => 'btn btn-success' %>
  </div> 
</div>