<%= form_for @topics do |f| %>
  <% if params[:forum] %>
    <input type="hidden" id="topic_forum_id" name="topic[forum_id]" value="<%= params[:forum] %>">
  <% end %>
  <p>
    <%= f.label :name, :class => "tron-font" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <textarea name="post[content]" cols="80" rows="20"></textarea>
  </p>
  <p><%= f.submit "Create" %></p>
<% end %>